<launch>
    <group ns="segment">
        <node pkg="fnii_vision_detect" type="node.py" name="yolo_segment_node">
            <param name="weight" value="$(find fnii_vision_detect)/weights/fnii_seg_m.pt"/>
        </node>
    </group>
    <group ns="keypoint">
        <node pkg="fnii_vision_detect" type="node.py" name="detect_node">
            <param name="weight" value="$(find fnii_vision_detect)/weights/handle_pose.pt"/>
        </node>
    </group>
</launch>